* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home,
.services,
.products,
.sign-up,
/* .contact-us,
.marketing,
.consulting, */
.centered,
.not-found {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

/* .home {
  background-image: url('./assets/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.services {
  background-image: url('./assets/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./assets/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* .contact-us {
  background-image: url('./assets/images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.sign-up {
  background-image: url('./assets/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* .marketing {
  background-image: url('./assets/images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.consulting {
  background-image: url('./assets/images/img-5.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.centered {
  background: burlywood;
  transition: 1s all ease-in;
}

.not-found {
  color: white;
  background: burlywood;
  transition: 1s all ease-in;
}

@media screen and (max-width: 960px) {
  .home,
.services,
.products,
.sign-up,
/* .contact-us,
.marketing,
.consulting, */
.centered,
.not-found {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .home,
.services,
.products,
.sign-up,
/* .contact-us,
.marketing,
.consulting, */
.centered,
.not-found {
    font-size: 1rem;
  }
}
